<div class="my-container mx-auto border border-dark">
  <div class="p-4 border my-rounded-corner">
    <h3 class="w-25 border text-center py-2 my-rounded-corner">Current Cart</h3>

    <div class="" style="text-align: center">
      <h3>User Details</h3>
      <div class="user-card">
        <!-- User name -->
        <div class="user-name">{{ usersCart.user.firstName }}</div>

        <!-- User address -->
        <div class="user-info">
          <span class="info-label">Address:</span>
          <span class="info-text">{{ usersCart.user.address }}</span>
        </div>

        <!-- User email -->
        <div class="user-info">
          <span class="info-label">Email:</span>
          <span class="info-text">{{ usersCart.user.email }}</span>
        </div>

        <!-- User mobile number -->
        <div class="user-info">
          <span class="info-label">Mobile:</span>
          <span class="info-text">{{ usersCart.user.mobile }}</span>
        </div>
      </div>
    </div>
    <div
      class="current-cart-items w-75 mx-auto mt-5"
      style="text-align: center"
    >
      <h4>Active Agreements</h4>
      <div class="row mt-4 g-0">
        <div
          class="col-6 py-3 px-2"
          style="text-align: center"
          *ngFor="let cartItem of usersCart.cartItems; index as i"
        >
          <div class="cart-item-view">
            <div class="card">
              <div class="row g-0">
                <div
                  class="col-4 overflow-hidden d-flex justify-content-center align-items-center"
                >
                  <img
                    src="{{ cartItem.product.imageName }}"
                    style="width: 60px; height: 60px"
                    class="img-fluid rounded-start"
                    alt="Product Image"
                    OpenProductDetails
                    [productId]="cartItem.product.id"
                  />
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title title">
                      {{ cartItem.product.title }}
                    </h5>
                    <h5 class="card-title text-success">
                      {{ cartItem.product.price * cartItem.duration }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <i
              class="fa fa-plus"
              style="cursor: pointer"
              (click)="onPlus(i)"
            ></i>
            {{
              activeCartArray.length === 0
                ? 0
                : activeCartArray[i]?.quantity || 0
            }}

            <i
              class="fa fa-minus"
              style="cursor: pointer"
              *ngIf="activeCartArray[i]?.quantity !== 0"
              (click)="onMinus(i)"
            ></i>
          </div>
          duration
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <button
        type="button"
        class="btn btn-primary"
        style="cursor: pointer"
        (click)="onUpdate()"
      >
        Update
      </button>
    </div>
    <div class="mt-5">
      <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
        <tbody>
          <tr>
            <td>Total Items</td>
            <td class="fs-5 fw-bold">{{ usersCart.cartItems.length }}</td>
          </tr>
          <tr>
            <td>Total Price</td>
            <td class="fs-5 fw-bold text-danger">
              {{ usersPaymentInfo.totalAmount }}
            </td>
          </tr>
          <tr>
            <td>Shipping Charges</td>
            <td class="fs-5 fw-bold text-danger">
              {{ usersPaymentInfo.shipingCharges }}
            </td>
          </tr>
          <tr>
            <td>Discount</td>
            <td class="fs-5 fw-bold text-success">
              {{ usersPaymentInfo.amountReduced }}
            </td>
          </tr>
          <tr>
            <td>You Have to Pay</td>
            <td class="fs-5 fw-bold text-success">
              {{ usersPaymentInfo.amountPaid }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-grid w-50 mx-auto mb-3">
      <button
        class="btn btn-outline-success fs-4"
        type="button"
        routerLink="/orders"
      >
        Accept and Order
      </button>
    </div>
  </div>

  <div class="mt-5 p-4 border my-rounded-corner">
    <h3 class="w-25 border text-center py-2 mb-5 my-rounded-corner">
      Previous Agreements
    </h3>

    <div class="card mb-5" *ngFor="let cart of usersPreviousCarts">
      <div
        class="card-header d-flex fw-bold justify-content-between align-items-center"
      >
        <span class="time"
          >Rented On :
          <span class="fs-5">{{ cart.orderedOn.substring(0, 16) }}</span>
        </span>
        <span class="count">Items: {{ cart.cartItems.length }}</span>
        <span class="price"
          >Price :
          <span class="fs-5">
            {{ utilityService.calculatePricePaid(cart.cartItems) }}
          </span>
        </span>
      </div>

      <div class="cart-body px-4 py-2">
        <div class="row g-0">
          <div class="col-2 px-2 py-2" *ngFor="let cartItem of cart.cartItems">
            <div style="text-align: center">
              <a
                style="color: green; cursor: pointer"
                (click)="returnProduct(cartItem.id, cart.id, usersCart.user.id)"
                >return</a
              >
              <app-product
                [view]="'prevcartitem'"
                [product]="cartItem.product"
              ></app-product>

              <div style="text-align: center">
                {{ cartItem.duration }}
              </div>
              days
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
