<header
  class="w-100 h-100 bg-dark px-4 my-shadow d-flex justify-content-between align-items-center"
>
  <div class="text-light fs-2 fw-bold fst-italic">
    <span style="cursor: pointer; text-decoration: underline" routerLink="home"
      >Car Rent App</span
    >
  </div>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg me-3" role="group">
      <div class="btn-group" role="group">
        <button
          type="button"
          *ngIf="utilityService.isLoggedIn() && utilityService.isAdmin()"
          routerLink="create-product"
          class="btn btn-outline-light"
        >
          Add Product
        </button>
      </div>
    </div>

    <div class="btn-group btn-group-lg me-2" role="group">
      <button
        type="button"
        class="btn btn-outline-light"
        data-bs-toggle="modal"
        data-bs-target="#generalmodal"
        (click)="openModal('login')"
        *ngIf="!utilityService.isLoggedIn()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        data-bs-toggle="modal"
        data-bs-target="#generalmodal"
        (click)="openModal('register')"
        *ngIf="!utilityService.isLoggedIn()"
      >
        Register
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        routerLink="/cart"
        *ngIf="utilityService.isLoggedIn() && !utilityService.isAdmin()"
      >
        Rental Agreements
        <span class="badge bg-warning text-dark">{{ cartItems }}</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        routerLink="/orders"
        *ngIf="utilityService.isLoggedIn() && !utilityService.isAdmin()"
      >
        Order Agreement
      </button>
      <button
        type="button"
        *ngIf="utilityService.isLoggedIn() && utilityService.isAdmin()"
        routerLink="all-agreements"
        class="btn btn-outline-light"
      >
        All Agreements
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        [routerLink]="['account']"
        *ngIf="utilityService.isLoggedIn()"
      >
        Account
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="utilityService.logoutUser()"
        *ngIf="utilityService.isLoggedIn()"
      >
        Logout
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        routerLink="account"
        *ngIf="utilityService.isLoggedIn()"
      >
        Help
      </button>
    </div>
  </div>
</header>

<!-- // -->

<!-- <header class="w-100 bg-dark px-4 my-shadow d-flex justify-content-between align-items-center">
    <div class="text-light fs-2 fw-bold fst-italic">
      <span style="cursor: pointer;text-decoration: underline;" routerLink="home">Grocery App</span>
    </div>
  
    <button class="navbar-toggler" style="color: aliceblue; background-color: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: aliceblue;" class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg me-3" role="group">
          <div class="btn-group" role="group">
            <button type="button" *ngIf="utilityService.isLoggedIn() && utilityService.isAdmin()"
              routerLink="create-product" class="btn btn-outline-light">
              Add Product
            </button>
          </div>
        </div>
  
        <div class="btn-group btn-group-lg me-2" role="group">
          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
            (click)="openModal('login')" *ngIf="!utilityService.isLoggedIn()">Login</button>
          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#generalmodal"
            (click)="openModal('register')" *ngIf="!utilityService.isLoggedIn()">Register</button>
          <button type="button" class="btn btn-outline-light" routerLink="/cart" *ngIf="utilityService.isLoggedIn()">
            Cart
            <span class="badge bg-warning text-dark">{{cartItems}}</span>
          </button>
          <button type="button" class="btn btn-outline-light" routerLink="/orders"
            *ngIf="utilityService.isLoggedIn()">Orders</button>
          <button type="button" class="btn btn-outline-light" [routerLink]="['account']"
            *ngIf="utilityService.isLoggedIn()">Account</button>
          <button type="button" class="btn btn-outline-light" (click)="utilityService.logoutUser()"
            *ngIf="utilityService.isLoggedIn()">Logout</button>
          <button type="button" class="btn btn-outline-light" routerLink="account"
            *ngIf="utilityService.isLoggedIn()">Help</button>
        </div>
      </div>
    </div>
  </header>
   -->

<!-- // -->
<div
  class="modal fade"
  id="generalmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" #modalTitle></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closeButton
        ></button>
      </div>
      <div class="modal-body">
        <ng-container #container></ng-container>
      </div>
    </div>
  </div>
</div>
