<div class="my-container mx-auto">
  <!-- <div class="product-baner position-relative">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>

            <img src="../../assets/Images/{{suggestedProduct.banerimage}}" class="w-100" alt="Baner Image">
        </div>

        <div class="product-list py-5">
            <app-suggested-products [category]="suggestedProduct.category"></app-suggested-products>
        </div> -->
  <h1><b>Welcome to the Car Rent Store</b></h1>
  <h3 *ngIf="utilityService.isLoggedIn()">You have successfully LoggedIn</h3>
  <h4>
    👉<span *ngIf="!utilityService.isLoggedIn()">First Login & then</span>
    Select Category and proceed
  </h4>
</div>
